<h1>Admin::Dashboard#show</h1>

<ul class="list-group list-group-item list-group-item-dark">
<li class="list-group-item d-flex justify-content-between align-items-center">The total amount of products is:<span class="badge badge-primary badge-pill"><%= @products_qty %></span></li>
<li class="list-group-item d-flex justify-content-between align-items-center">The total amount of categories is:<span class="badge badge-primary badge-pill"><%= @categories_qty %></span></li>
</ul>
